### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Eclipse/IntelliJ-Projektdateien (wenn du so eine IDE nutzt)
*.log
*.iml
.idea/
*.ipr
*.iws
*.class
target/

### Windows System-Dateien ###
Thumbs.db

### keys ###
ssh_key
ssh_key.pub